@tailwind base;
@tailwind components;
@tailwind utilities;

.animation {
    transform: translateX(-20px);
    opacity: 0;
    animation: animation .5s forwards;
}
@keyframes animation {
    to {
        transform: initial;
        opacity: 1;
    }
}